body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
  margin-bottom: 20px;
}
header h1 {
  margin: 0;
}
.header-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}
.img{
  max-width: 100px;
  max-height: 100px;
}
.common-info{
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.location{
  margin-top: 10px;
}
.section {
  margin-bottom: 20px;
}
.section h2 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.columns {
  display: flex;
  justify-content: space-between;
}
.left-column {
  width: 70%;
}
.right-column{
  max-width: 25%;
}
.job, .education {
  margin-bottom: 15px;
}
.job h3, .education h3 {
  margin: 0;
}
.job .position, .education .degree {
  font-weight: bold;
}
.skills ul {
  list-style: none;
  padding: 0;
}
.skills li {
  background-color: #e2e2e2;
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.achievements {
  margin-top: 10px;
}
.achievements h4 {
  margin-bottom: 5px;
}
.achievements ul {
  list-style: disc;
  padding-left: 20px;
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  .header-right {
      text-align: center;
      margin-top: 10px;
  }

  .content {
      flex-direction: column;
  }

  .skills, .experience {
      min-width: 100%;
  }
}

@media (max-width: 480px) {
  .header-right img {
      width: 80px;
  }
}